.idea/


### Spring / Backend ###

naive-pay-api/target/
!.mvn/wrapper/*
!**/src/main/**/target/
!**/src/test/**/target/

### Maven Wrapper ###
naive-pay-api/mvnw
naive-pay-api/mvnw.cmd
naive-pay-api/.mvn/wrapper/maven-wrapper.jar
naive-pay-api/.mvn/wrapper/maven-wrapper.properties

### STS ###
naive-pay-api/.apt_generated
naive-pay-api/.classpath
naive-pay-api/.factorypath
naive-pay-api/.project
naive-pay-api/.settings
naive-pay-api/.springBeans
naive-pay-api/.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Angular / Frontend ###
# Compiled output
naive-pay-ui/dist
naive-pay-ui/tmp
naive-pay-ui/out-tsc
naive-pay-ui/bazel-out
naive-pay-ui/.angular
# Node
naive-pay-ui/node_modules
naive-pay-ui-legacy/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
*.sublime-workspace
.c9/
*.launch

# Miscellaneous
naive-pay-ui/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db 
